@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body{
  width: 100vw;
  overflow-x: hidden;
}

li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}

.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 19px;
    background-color: #000;
    width: 100vw;
}
.nav-menu{
display: flex;
justify-content: space-between;
align-items: center;
gap: 60px;
position: absolute;
left: 200px;
}

.nav-link{
    transition: 0.7s ease;
}

.hamburger{
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;

}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 0.1s;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.1s;
  z-index: 10;
}
.black{
  color: black;
}
.hover {
  transform: scale(5);
  transition: 0.2s all;
  background-color: #c52e53;
  cursor: pointer;
  transform-origin: center;
}
.logo-img{
width: 120px;
margin-left: 20px;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-icon{
    color: #E50914;
    position: absolute;
    right: 30px;
    font-size: 30px;
}
.user-icon-ham{
    position: absolute;
    right: 10px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
}

.search-box {
  position: absolute;
  right: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
  height: 40px;
  background: #2f3640;
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover .search-btn {
  background: #fff;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  font-size: 1rem;
  width: 0px;
}

.search-btn {
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
}
.main{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, transparent 50%), url(https://occ-0-3646-3647.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfiqv2Th67pFLpn6jzARZGNhBFTtaTfd4i5KPN1-WoxqDUerVqy4i7Yw_hRk146SO2KGIjra0RIIuHbv8oZ0m9LV5YZItZygejeC.jpg?r=15c);
}

.logo-peaky{
  width: 500px;
  margin-top: 80px;
  margin-left: 50px;
  /* z-index: 1; */
}
.peaky-info{
  width: 500px;
  margin-top: 20px;
  margin-left: 50px;
}
.peaky-name{
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.time-peaky{
  font-size: 17px;
  color: rgb(214, 208, 208);
  margin: 20px 0;
}
.peaky-genre{
  font-size: 15px;
  color: white;
  font-weight: 500;
  word-spacing: 2px;

}
.starring,.creators{
  font-size: 17px;
  color: white;
  margin-top: 20px;
}
.info-content{
  /* background-color: #090909; */
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, transparent 50%); */
  position: absolute;
}
@media only screen and (max-width:962px ) and (min-width:768px){
.logo-peaky,.peaky-info{
  width: 400px;

}

}

@media (max-width:768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);


    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: aquamarine;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .user-icon{
        right: 57px;
    }
    .cursor{
      display: none;
    }

    .logo-peaky,.peaky-info{
      width: 350px;
    }
    .peaky-name{
      font-size: 22px;
    
    }
    .time-peaky{
      font-size: 15px;
      
    }
    .peaky-genre{
      font-size: 14px;
      
    
    }
    .starring,.creators{
      font-size: 14px;
      
    }

   
}
@media only screen and (max-width: 700px) and (min-width: 600px)
{
  .logo-peaky{
    width: 350px;
  }
  
}
@media only screen and (max-width: 600px) and (min-width: 500px){
    .search-box:hover .search-txt {
        width: 200px;
        padding: 0 6px;
      }
      .logo-img{
        width: 80px;
      }
      .cursor{
        display: none;
      }
      .logo-peaky,.peaky-info{
        width: 300px;
      }
      .peaky-name{
        font-size: 20px;
      
      }
      .time-peaky{
        font-size: 13px;
        
      }
      .peaky-genre{
        font-size: 13px;
        
      
      }
      .starring,.creators{
        font-size: 14px;
        
      }
     
}

@media only screen and (max-width: 500px) and (min-width: 400px){
    .search-box:hover .search-txt {
        width: 150px;
        padding: 0 6px;
      }
      .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        font-size: 12px;
        width: 0px;
      }
      .logo-img{
        width: 80px;
      }
      .cursor{
        display: none;
      }
      .logo-peaky,.peaky-info{
        width: 200px;
       
      }
      .main{
      background-image: url(https://m.media-amazon.com/images/M/MV5BZjYzZDgzMmYtYjY5Zi00YTk1LThhMDYtNjFlNzM4MTZhYzgyXkEyXkFqcGdeQXVyMTE5NDQ1MzQ3._V1_.jpg);
      background-position: right 0 top 0px;
      background-size: cover;
      background-repeat: no-repeat;
      }
      .info-content{
        top: 80%;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .logo-peaky{
width: 370px;
margin-top: 10px;
margin-left: 0px;
      }
      .peaky-info{
        width: 370px;
        margin-left: 0px;
      }
      .peaky-name{
        font-size: 20px;
      
      }
      .time-peaky{
        font-size: 13px;
        
      }
      .peaky-genre{
        font-size: 13px;
        
      
      }
      .starring,.creators{
        font-size: 14px;
        
      }
     
}
@media only screen and (max-width: 400px) and (min-width: 300px){
    .search-box:hover .search-txt {
        width: 120px;
        padding: 0 6px;
      }
      .search-txt{
        font-size: 10px;
      }
      .logo-img{
        width: 80px;
      }
      .cursor{
        display: none;
      }
      .main{
        background-image: url(https://m.media-amazon.com/images/M/MV5BZjYzZDgzMmYtYjY5Zi00YTk1LThhMDYtNjFlNzM4MTZhYzgyXkEyXkFqcGdeQXVyMTE5NDQ1MzQ3._V1_.jpg);
        background-position: right 0 top 0px;
        background-size: cover;
        background-repeat: no-repeat;
        }
        .info-content{
          top: 80%;
          width: 100%;
          display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #000;
 
        }
        .logo-peaky{
          width: 300px;
          margin-top: 10px;
          margin-left: 0px;
        }
        .peaky-info{
         width: 300px;
          margin-left: 0px;
        }
        .peaky-name{
          font-size: 20px;
        
        }
        .time-peaky{
          font-size: 13px;
          
        }
        .peaky-genre{
          font-size: 10px;
          
        
        }
        .starring,.creators{
          font-size: 10px;
          
        }

   
   
}